.App {
  text-align: center;
}

.login {
  text-align: center;
}

.formContainer {
  /* max-width: 30px; */
  display: flex;
  justify-content: "center";
  align-items: "center";
  margin: auto;
  text-align: center;
  flex-direction: column;
}

.header {
  background-color: #BCD0CF ;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}